<li id="comment-<%= comment._id%>">
    <p>
        <% if(locals.user && locals.user.id==comment.user.id){%>
            <small>
                <a class="delete-comment-button" href="/comment/delete/<%=comment.id%>">X</a>
            </small>
            <%}%>
        <%= comment.content%>
        <%= comment.user.name%>
    </p>
</li>