
    <h1>View <%=title%> </h1>
    <section id="feed-post">
        <h4>Posts</h4>
        <% if (locals.user){%>
        <form action="/post/create" id="new-post-form" method="POST">
            <textarea name="content" id="content" cols="30" rows="10" placeholder="Type here...." required></textarea>
            <input type="submit" value="Post">
        </form>
        <%}%>
    </section>

    <ul>
        <% for( i of posts){%>

            <%- include('_post'); %>

        <%}%>
    </ul>