<h1>User/Sign In</h1>

<form action="/users/create-session" method="post">

    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="submit" value="Sing In">
</form>
<div>
    <!-- <input type="submit" value="Forgot password" style="margin-top: 5px;"> -->
    <button style="margin-top: 5px;"><a href="/users/forgot-password" style="color:black;text-decoration: none;">Forgot Password</a></button>           
</div>
    

<p>
    <a href="/users/auth/google">Google Sign In / Sign Up</a>
</p>